<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="aService" class="com.joragupra.spring.services.BusinessService" />

	<bean class="com.joragupra.spring.services.MediatorConcreteFactory">
		<property name="businessService">
			<ref bean="aService" />
		</property>
	</bean>

	<bean id="aController" class="com.joragupra.spring.controllers.ViewController">
		<property name="businessService">
			<ref bean="aService" />
		</property>
	</bean>
</beans>